<div class="order mt-5 bg-white mx-5 px-5">
    <p class="fs-3">Employees List</p>

    <table class="table p-5">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Designation</th>
                <th scope="col">Skill Level</th>
                <th scope="col">Experience</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row" class="d-flex"><img src="../assets/images/man.png" style="width: 35px; height: 35px;" class="rounded-circle" alt="other"><p class="text-muted mt-2 ms-2 " style="font-size: 14px; font-weight: 500;">John Deo (14+ Online)</p></th>
                <td>Designer</td>
                <td> <input type="range"  > </td>
                <td class="text-muted">2 Year</td>
            </tr>
            <tr>
                <th scope="row" class="d-flex"><img src="../assets/images/man.png" style="width: 35px; height: 35px;" class="rounded-circle" alt="other"><p class="text-muted mt-2 ms-2 " style="font-size: 14px; font-weight: 500;">John Deo (14+ Online)</p></th>
                <td>Designer</td>
                <td> <input type="range" name="" id=""> </td>
                <td class="text-muted">2 Year</td>
            </tr>
            <tr>
                <th scope="row" class="d-flex"><img src="../assets/images/man.png" style="width: 35px; height: 35px;" class="rounded-circle" alt="other"><p class="text-muted mt-2 ms-2 " style="font-size: 14px; font-weight: 500;">John Deo (14+ Online)</p></th>
                <td>Designer</td>
                <td> <input type="range" name="" id=""> </td>
                <td class="text-muted">2 Year</td>
            </tr>
            <tr>
                <th scope="row" class="d-flex"><img src="../assets/images/man.png" style="width: 35px; height: 35px;" class="rounded-circle" alt="other"><p class="text-muted mt-2 ms-2 " style="font-size: 14px; font-weight: 500;">John Deo (14+ Online)</p></th>
                <td>Designer</td>
                <td> <input type="range" name="" id=""> </td>
                <td class="text-muted">2 Year</td>
            </tr>
            <tr>
                <th scope="row" class="d-flex"><img src="../assets/images/man.png" style="width: 35px; height: 35px;" class="rounded-circle" alt="other"><p class="text-muted mt-2 ms-2 " style="font-size: 14px; font-weight: 500;">John Deo (14+ Online)</p></th>
                <td>Designer</td>
                <td> <input type="range" name="" id=""> </td>
                <td class="text-muted">2 Year</td>
            </tr>
        </tbody>
    </table>
    <button class="btn mybtn px-3 text-white">VIEW ALL ORDERS</button>
</div>