<div class="allbar">

    <div class="mybar">
        <div class="d-flex mt-3 pe-5 ">
            <div class="ms-4">
                <h3 class="fs-3">TRANSACTIONS</h3>
                <small class="text-secondary">Multikart Admin Panel</small>
            </div>
            <div class="ms-auto d-flex pt-3 mt-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-home mysvg cursvg" _ngcontent-serverapp-c1626669388="">
                    <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
                    <polyline points="9 22 9 12 15 12 15 22" routerLink=""></polyline>
                </svg> /
                <p class="">Sales / Orders</p>
            </div>
        </div>
        <div class="order mt-5 bg-white mx-3 px-4">
            <p class="fs-4">Transaction Details</p>


            <table class="table table-striped p-5">
                <thead>
                    <tr class="py-3">
                        <th scope="col">Order Id</th>
                        <th scope="col">Transaction Id</th>
                        <th scope="col">Date</th>
                        <th scope="col">Payment Method</th>
                        <th scope="col">Delivery Status</th>
                        <th scope="col">Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">142</th>
                        <td> <span class="">#7654198</span></td>
                        <td class="">Sep 2 19</td>
                        <td> <span class="">Delivered</span></td>
                        <td class="">Paypal</td>
                        <td class="">$175</td>
                    </tr>
                    <tr>
                        <th scope="row">142</th>
                        <td> <span class="">#7654198</span></td>
                        <td class="">Sep 2 19</td>
                        <td> <span class="">Delivered</span></td>
                        <td class="">Paypal</td>
                        <td class="">$175</td>
                    </tr>
                    <tr>
                        <th scope="row">142</th>
                        <td> <span class="">#7654198</span></td>
                        <td class="">Sep 2 19</td>
                        <td> <span class="">Delivered</span></td>
                        <td class="">Paypal</td>
                        <td class="">$175</td>
                    </tr>
                    <tr>
                        <th scope="row">142</th>
                        <td> <span class="">#7654198</span></td>
                        <td class="">Sep 2 19</td>
                        <td> <span class="">Delivered</span></td>
                        <td class="">Paypal</td>
                        <td class="">$175</td>
                    </tr>
                    <tr>
                        <th scope="row">142</th>
                        <td> <span class="">#7654198</span></td>
                        <td class="">Sep 2 19</td>
                        <td> <span class="">Delivered</span></td>
                        <td class="">Paypal</td>
                        <td class="">$175</td>
                    </tr>
                    <tr>
                        <th scope="row">142</th>
                        <td> <span class="">#7654198</span></td>
                        <td class="">Sep 2 19</td>
                        <td> <span class="">Delivered</span></td>
                        <td class="">Paypal</td>
                        <td class="">$175</td>
                    </tr>
                    <tr>
                        <th scope="row">142</th>
                        <td> <span class="">#7654198</span></td>
                        <td class="">Sep 2 19</td>
                        <td> <span class="">Delivered</span></td>
                        <td class="">Paypal</td>
                        <td class="">$175</td>
                    </tr>
                    <tr>
                        <th scope="row">142</th>
                        <td> <span class="">#7654198</span></td>
                        <td class="">Sep 2 19</td>
                        <td> <span class="">Delivered</span></td>
                        <td class="">Paypal</td>
                        <td class="">$175</td>
                    </tr>

                </tbody>
            </table>

            <div class="m-auto pb-4 mb-4">
                <div class="m-auto d-flex border border-1 border-grey rounded-2" style="width: 15%; height: 40px;">
                    <p class="px-2  num">>></p>
                    <p class="px-2 num">1</p>
                    <p class="px-2 num">2</p>
                    <p class="px-2">>></p>
                </div>
            </div>
        </div>

        <app-footer></app-footer>
    </div>
</div>