svg{
    color: #ff8084;
}
/* Chatbox on Notification   */


.chatbox {
    position: absolute;
    top: 70px; /* Adjust top position as needed */
    right: 120px;
    background-color: #fff;
    padding: 10px;
    box-shadow: 1px 5px 24px 0 rgba(68, 102, 242, 0.05);
    display: none;
    width: 320px;
    padding: 10px 40px;
    border-radius: 20px;
}

.btn:hover .chatbox {
    display: block;
}


