<div class="order mt-5 bg-white mx-5 px-5">
    <p class="fs-3">Latest Orders</p>

    <table class="table p-5">
        <thead>
            <tr>
                <th scope="col">Order Id</th>
                <th scope="col">Order Total</th>
                <th scope="col">Payment Method</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>$129</td>
                <td>Bank</td>
                <td class="text-muted">On way</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>$300</td>
                <td class="text-warning">Cash</td>
                <td>Delivered</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>$500</td>
                <td class="text-danger">Cash</td>
                <td>Delivered</td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>$129</td>
                <td>Bank</td>
                <td class="text-muted">On way</td>
            </tr>
            <tr>
                <th scope="row">5</th>
                <td>$500</td>
                <td class="text-danger">Cash</td>
                <td>Delivered</td>
            </tr>
        </tbody>
    </table>
    <button class="btn mybtn px-3 text-white">VIEW ALL ORDERS</button>
</div>