/* You can add global styles to this file, and also import other style files */
* {
  font-family: 'Work Sans', sans-serif;
}
small{
  font-family: 'Nunito Sans', sans-serif;
}

.mysvg {
  color: #ff8084;
}

.mytext {
  color: #ff8084;

}

.mycbtn {
  background-color: #ff8084;

}

.btn:focus {
  outline: none;
}

.mybar {
  /* border: 2px solid red; */
  position: absolute;
  top: 90px;
  background-color: #f8f8f9;
  width: 80%;
  left: 20%;
  padding-left: 30px;
}

/* TABLE   */
.num {
  border-right: 1px solid grey;
  height: 40px;

}

.num:hover {
  cursor: pointer;
}

/* .cursvg{ */
/* cursor: pointer; */
/* } */