/* You can add global styles to this file, and also import other style files */
.mysvg{
    color:#ff8084;
}
.mytext{
    color:#ff8084;

}
.btn:focus{
  outline: none;
}
.mybar{
  /* border: 2px solid red; */
  position: absolute;
  background-color: #f8f8f9;
  width: 80%;
  left: 20%;
  padding-left: 30px;
}

/* .cursvg{ */
  /* cursor: pointer; */
/* } */