<div class="mybar">
    <div class="d-flex mt-3 pe-5 ">
        <div class="ms-4">
            <h3 class="fs-3">CREATE USER</h3>
            <small class="text-secondary">Multikart Admin Panel</small>
        </div>
        <div class="ms-auto d-flex pt-3 mt-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="feather feather-home mysvg cursvg" _ngcontent-serverapp-c1626669388="">
                <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
                <polyline points="9 22 9 12 15 12 15 22" routerLink="dashboard"></polyline>
            </svg> /
            <p class=""> User / Create User</p>
        </div>
    </div>
    <div class="order mt-5 bg-white mx-3 px-4">

        <p class="fs-5 fw-bold pt-3 pb-4">Add User</p>

        <div class="row g-3 align-items-center">
            <div class="col-auto">
                <label class="col-form-label">*Name</label>
            </div>
            <div class="col-6 ms-5">
                <input type="text" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline">
            </div>
        </div>
        <div class="row g-3 align-items-center mt-3">
            <div class="col-auto">
                <label class="col-form-label">*Email</label>
            </div>
            <div class="col-6 ms-5">
                <input type="email" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline">
            </div>
        </div>
        <div class="row g-3 align-items-center mt-3">
            <div class="col-auto">
                <label class="col-form-label">*Password</label>
            </div>
            <div class="col-6 ms-5">
                <input type="password" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline">
            </div>
        </div>
        <div class="row g-3 align-items-center mt-3">
            <div class="col-auto">
                <label class="col-form-label">*Confirm Password</label>
            </div>
            <div class="col-6 ms-5">
                <input type="password" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline">
            </div>
        </div>
    
        <div class="container text-end mt-4">
            <button class="mycbtn text-white px-5 py-2 rounded-2 border border-none mt-4 mb-3 ">Save</button>
        </div>
    </div>


    <app-footer></app-footer>
</div>